.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.catgry{
  margin-top: 27px;
  text-align: left;
}
.qtn{
  margin-top: 15px;
  text-align: left;
}
.qtn p{
  font-weight: bold;
}
.option-ui{
  width: 30% !important;
}
.btn{
  display: flex;
  width: 100%;
}
.btn-chld{
  width: 10%;
}
.btn-prent{
  display: flex;
  width: 100%;
  margin-top: 121px;
}
.btn-child-r{
  width: 50%;
  text-align: end;
  padding-right: 22px;
}
.btn-child-l{
  width: 50%;
  text-align: start;
  padding-left: 22px;
}